build/*
.idea/*
cmake-build-debug/
*.pyc
*/__pycache__/*
.DS_Store
pyhanabi/exps
sweep
sweep_*
plot.png
sweep*.py
!*ref*.sh
*.ipynb*
pyhanabi/tools/bad_player/
pyhanabi/tools/bad_player_sparta/
pyhanabi/models/*
pyhanabi/iclr_models/*
pyhanabi/notebooks/*
pyhanabi/extract_human_data.py
copyright.py
filter_models.py
models/icml_obl_models.zip
models2/
models/
models_bkup.zip
models_bkup/
